**/.dart_tool/
**/*generated_plugin_registrant.dart
**/.idea/
**/*.pub
**/.vscode/
**/*.vscode
**/*.analysis-options
**/*.packages
**/*.g.dart
**/.git/
**/*.gitignore
**/*pubspec.lock
**/*.flutter-plugins
**/*.flutter-plugins-dependencies
**/.ipynb_checkpoints/
**/__pycache__/
**/*cli.py
**/*cli_all.py
**/build/
**/node_modules/

**/android/
**/ios/
**/linux/
**/macos/
**/windows/
**/test/
**/build/
**/temp/
**/wiki/

**/*.md
**/*.sh

**/logs/
**/__logs/
**/__resources/
**/__dev/
**/__test/
**/__notes/
**/__notes__temp/
**/__scripts/
**/__temp/
**/__library/
**/__learn/
**/__archive/
**/__archives/
**/archive/
**/__legacy/
**/library_old/

# **/*.env
